---
import { ColorToast } from "@/components/ColorToast";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Spotify Lyrics: Find the Lyrics to Your Favorite Songs</title>
    <meta
      name="description"
      content="This is a web application that allows you to get lyrics and track info for a Spotify track. Simply provide the Spotify URL of the track, and the API will return track details along with synchronized lyrics, if available."
    />
    <meta
      name="keywords"
      content="spotify, lyrics, api, web, application, python, fastapi, astro, astrojs, spotify api, spotify lyrics, get lyrics, track info, spotify track, spotify url, synchronized lyrics"
    />
    <meta name="og:title" content="Spotify Lyrics" />
    <meta
      name="og:description"
      content="This is a web application that allows you to get lyrics and track info for a Spotify track. Simply provide the Spotify URL of the track, and the API will return track details along with synchronized lyrics, if available."
    />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="/og.webp" />
  </head>
  <body>
    <slot />
    <ColorToast client:load />
  </body>

  <style is:global>
    *,
    *:focus-visible,
    *:focus {
      outline: none;
    }

    @font-face {
      font-family: "SpotifyMixUI";
      font-weight: 400;
      src: url("/fonts/SpotifyMixUI.woff2") format("woff2");
    }

    @font-face {
      font-family: "SpotifyMixVariable";
      font-weight: 700;
      src: url("/fonts/SpotifyMixVariable.woff2") format("woff2");
    }

    body {
      font-family: "SpotifyMixUI", sans-serif;
      overscroll-behavior: none;
    }
  </style>
</html>
