---
import Layout from "@/layouts/Layout.astro";
// import LyricsCards from "@/sections/LyricsCards.astro";
import Logo from "@/components/Logo.astro";
import { LyricsForm } from "@/components/LyricsForm";
---

<Layout>
  <div
    class="min-h-screen relative flex py-12 px-6 text-white bg-gradient-to-r from-blue-600 to-spotify-purple lg:px-8"
  >
    <main
      class="flex flex-col items-center gap-10 w-full m-auto relative z-[1]"
    >
      <section class="flex items-center gap-2.5">
        <Logo />
        <h2 class="text-3xl text-spotify-green">Spotify Lyrics</h2>
      </section>

      <h1
        class="font-bold font-spotifyMixVariable text-5xl md:text-7xl xl:text-8xl max-w-5xl text-center"
      >
        Find the Lyrics to Your Favorite Songs
      </h1>

      <p class="md:text-lg max-w-xl w-full text-center text-[#E9E2FF]">
        Simply provide the Spotify URL of the track, and we will return the
        track details along with synchronized lyrics, if available.
      </p>

      <LyricsForm client:load />
    </main>
  </div>
</Layout>
