<section
  class="absolute hidden top-0 left-0 w-full h-full overflow-hidden xl:block"
>
  <article
    class="absolute top-[0%] left-[5%] w-52 rounded-lg h-56 rotate-[-12deg] bg-red-500"
  >
  </article>

  <article
    class="absolute top-[5%] right-[2%] w-52 rounded-lg h-56 rotate-[4deg] bg-gray-500"
  >
  </article>

  <article
    class="absolute top-[40%] left-[0%] w-52 rounded-lg h-56 rotate-[-10deg] bg-green-500"
  >
  </article>

  <article
    class="absolute top-[45%] right-[0%] w-52 rounded-lg h-56 rotate-[6deg] bg-yellow-500"
  >
  </article>

  <article
    class="absolute bottom-[0%] left-[10%] w-52 rounded-lg h-56 rotate-[9deg] bg-blue-500"
  >
  </article>

  <article
    class="absolute bottom-[5%] right-[5%] w-52 rounded-lg h-56 rotate-[-6deg] bg-purple-500"
  >
  </article>

  <article
    class="absolute right-[25%] bottom-[-10%] w-52 rounded-lg h-56 rotate-[9deg] bg-pink-500"
  >
  </article>

  <article
    class="absolute left-[30%] bottom-[-10%] w-52 rounded-lg h-56 rotate-[-15deg] bg-orange-500"
  >
  </article>

  <article
    class="absolute left-[30%] top-[-15%] w-52 rounded-lg h-56 rotate-[-12deg] bg-teal-500"
  >
  </article>

  <article
    class="absolute right-[25%] top-[-9%] w-52 rounded-lg h-56 rotate-[9deg] bg-cyan-500"
  >
  </article>
</section>
